.card {
    width: 100%;
    height:200px;
    background: #333;
    color: white;
    font-size: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.carousel-container {
    width: 100%;
    text-align: center;
    /* padding: 0 20px;
    margin: 0 20px */
}
.carousel-margin {
    margin: 0 10px;
}
.category-title {
    /* font-family: 'Comic Neue', cursive; */
    font-family: 'Oswald', sans-serif;

  font-weight: bold;
  font-size: 2em;
  color: #bc2e1e;
background: #edde9c;
text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
color: #bc2e1e;
background: none;

}

.on {
    color: white;
}
.off {
    background-color: #f0fdf0;
}